
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body{
  background-image:url('../public/background.jpg');
  background-position: center;
  font-variant-numeric: lining-nums;
  color: white;
  font-family: "Raleway", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--color);
  font-family: var(--font-family);
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.container{
  min-width: var(--min-screen-width);
  width: 100%;
  height: 100vh - 32px;
  overflow-y: auto;
  padding: 32px 80px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.content{
  background-color: rgba(112, 112, 112, 0.1);
  width: var(--container-width);
  margin: 0 auto;
  backdrop-filter: blur(15px);
  border-radius: 5px;
}