.header__icon{
  color: black;
 }

 .search_container--active{
  background-color: rgb(252, 222, 183);
  opacity: 0.9;
 }


.header__search{
  width: 90%;
  height: 100%;
  border: none;
  font-size: 18px;
  appearance: none; /* Удаляем стили по умолчанию для внешнего вида элемента */
  border: none; /* Удаляем границы */
  margin: 0; /* Удаляем отступы */
  padding: 0; /* Удаляем внутренние отступы */
  font: inherit; /* Удаляем стили шрифта */
  color: inherit; /* Удаляем цвет текста */
  background: transparent; 
  outline: none;
}

.search_container{
  width: 506px;
  height: 48px;
  position: relative;
  padding-left: 16px;
  border-radius: 5px;
  background-color: #F5F4F466;
}

.searc_icon{
  position: absolute;
  right: 16px;
  top: 12px;
  transition: all 0.3s ease;
}

.search_container--active .searc_icon{
  display: none;
}

.search_container--active .header__icon{
  position: absolute;
  right: 16px;
  top: 12px;
  opacity: 1;
}

.header__icon{
  position: absolute;
  right: 16px;
  top: 12px;
  opacity: 0;
  transition: opacity 0.3s ease; 
}