.slider__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 32px;
}

.slider__content::after {
  content: '';
  position: absolute;
  left: 0;
  border-radius: 8px;
  background-image: url('/7db0246f-d52/public/icons/arrowRight.svg');
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: center center;
  width: 56px;
  height: 48px;
  border-radius: 8px;
}

.slider__content::before {
  content: '';
  position: absolute;
  right: 0;
  border-radius: 8px;
  background-image: url('/7db0246f-d52/public/icons/arrowLeft.svg');
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: center center;
  width: 56px;
  height: 48px;
  border-radius: 8px;
}

/*
Не до конца понял как по хорошему сверстать слайдер, сверстал как понял,
если точнее, то я не понял как скрыть элементы за стрелками как в макете
*/
.slider__item-container.hidden {
  opacity: 0;
}

.slider__content-item {
  background-color: var(--background-color);
  color: var(--card-color);
  padding: 0 16px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
}

.slider__content-el {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--card-color);
  line-height: 20px;
  text-align: left;
  font-size: 16px;
}

.slider__item-container {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  width: 880px;
  mask-image: linear-gradient(90deg, #000 97%, transparent 100%);
  overflow: hidden;
  transition: opacity 0.5s ease;
  opacity: 1;
}