.slider__content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 32px;
  gap:32px;
}

.slider__item-container.hidden {
  opacity: 0;
}

.forecast-slider__navigation-btn {
  border: none;
  height: 48px;
  width: 56px;
  padding: 12px 16px;
  transition: background .2s ease-in-out;
  border-radius: var(--border-radius);
}

.forecast-slider__navigation-btn:hover {
  background: var(--background-color);
}

.forecast-slider__navigation-btn:disabled {
  opacity: 0.8;
}

.slider__content-item {
  background-color: var(--background-color);
  color: var(--card-color);
  padding: 0 16px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  border-radius: var(--border-radius);
}

.slider__content-el {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--card-color);
  line-height: 20px;
  text-align: left;
  font-size: 16px;
}

.slider__item-container {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap);
  mask-image: linear-gradient(90deg, #000 97%, transparent 100%);
  overflow: hidden;
  transition: opacity 0.5s ease;
  opacity: 1;
}