.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.weather-info__city-name {
  font-size: 24px;
  font-weight: var(--font-big-weight);
  line-height: 32px;
  font-family: "Raleway", sans-serif;
}

.weather-info__date {
  font-weight: var(--font-weight);
  font-size: 20px;
  line-height: 24px;
  font-family: 'Raleway';
}

.weather-info__head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.weather-info__time {
  font-size: 20px;
  font-weight: var(--font-weight);
  line-height: 24px;
}

.weather-info__thermometer {
  display: flex;
  justify-content: center;
  margin: 55px auto;
}

.temperature {
  font-size: 112px;
  font-weight: var(--font-big-weight)
}

.weather-info__footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.content__main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  padding: 32px;
}

.weather-block-menu {
  display: grid;
  grid-template-columns: repeat(3, minmax(120px, 170px));
  gap: var(--gap);
  max-width: 506px;
}

.weather-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  gap: var(--gap);
  height: 196px;
  width: 158px;
  background-color: var(--background-color);
  border-radius: 10px;
}

.weather-block__title {
  color: var(--card-color);
  font-weight: var(--font-big-weight);
  font-size: 16px;
  line-height: 20px;
}

.weather-block__value {
  color: var(--card-color);
  font-weight: var(--font-weight);
  font-size: 32px;
  line-height: 32px;
}

.weather-block__slider-circle {
  background: rgb(245, 244, 244);
  border-radius: 20px;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  bottom: 0;
  outline: 2px solid var(--outline-color);
}

.weather-block__add-info--0 {
  display: flex;
  justify-content: space-between;
}

.weather-block__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.weather-info__sky-state {
  font-size: 20px;
  font-weight: var(--font-weight);
  line-height: 24px;
}

.temperature-state {
  font-size: 20px;
  font-weight: var(--font-weight);
  line-height: 24px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.weather-block__slider {
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 8px;
  background: rgba(218, 218, 218, 0.4);
  position: relative;
  border-radius: 15px;
}

.weather-block__slider--1 {
  background: radial-gradient(circle, rgba(84, 84, 84, 0.4), rgba(138, 138, 138, 0.4) 45%, rgb(218, 218, 218) 80%, rgba(218, 218, 218, 0.4) 100%);
}

.weather-block__slider--2 {
  background: rgba(218, 218, 218, 0.4);
}

.weather-block__add-info {
  color: rgb(57, 57, 57);
  font-size: 12px;
  font-weight: var(--font-weight);
  line-height: 16px;
}